* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: initial;
  border: none;
  background-color: initial;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoThin";
  src: url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
}
.header-icon {
  font-size: 1.6rem;
}

.restaurant-heading {
  font-family: "Shrikhand";
  font-size: 2.4rem;
  white-space: nowrap;
}

.menu-heading {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: "RobotoRegular";
  font-weight: 400;
}

.menu-choice__box-price {
  font-family: "RobotoBold";
  font-size: 1.4rem;
}
.menu-choice__box-heading--main {
  font-family: "RobotoBold";
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-choice__box-heading--sub {
  font-family: "RobotoThin";
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-submit {
  font-family: "RobotoRegular";
  font-size: 1.4rem;
}

.footer-heading {
  font-family: "Shrikhand";
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.footer-list {
  font-size: 1.6rem;
  font-family: "RobotoRegular";
}

.footer-icon {
  padding-right: 8px;
}
.footer-icon i {
  width: 16px;
  aspect-ratio: 1;
}

.fa-check-circle {
  position: relative;
  top: 30%;
  color: white;
  font-size: 20px;
}

body {
  /*max-width: 375px;*/
  margin: 0 auto;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding: 16px;
}

.header-logo {
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #353535;
  padding: 24px;
  gap: 16px;
}
footer * {
  color: white;
}

.footer-list {
  list-style: none;
}
.footer-list li:not(last-child) {
  padding-bottom: 8px;
}

.footer-heading {
  width: 100%;
}

.restaurant {
  height: 320px;
  position: relative;
  background-color: #eaeaea;
}

.restaurant-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.restaurant-heading {
  border-radius: 48px;
  position: absolute;
  bottom: 12px;
  padding: 32px 16px 16px 16px;
  background-color: inherit;
  width: 100%;
}

.heading-icon {
  position: absolute;
  right: 32px;
}

.menu {
  padding: 0 16px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 80px;
}

hr {
  color: #99E2D0;
  width: 40px;
  border-bottom: 2px solid;
  padding-top: 8px;
}

.menu-choice {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-choice__box {
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 16px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}
.menu-choice__box-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-choice__box-label:hover {
  cursor: pointer;
}
.menu-choice__box-heading {
  flex: 1;
  padding: 16px;
  display: grid;
  gap: 8px;
}
.menu-choice__box-price {
  padding: 16px;
  align-self: flex-end;
  flex: 0 0 auto;
}
.menu-choice__box-checkmark {
  background-color: #99E2D0;
  padding: 16px;
  /*width: 0;*/
}
.menu-choice__box-checkbox {
  position: absolute;
  top: 0;
}

.menu-submit {
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 16px 48px;
  border-radius: 24px;
  align-self: center;
}

/*# sourceMappingURL=style.css.map */
