* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: initial;
  border: none;
  background-color: initial;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoThin";
  src: url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
}
.menu-choice__box-price {
  font-family: "RobotoBold", sans-serif;
  font-size: 1.4rem;
}
.menu-choice__box-heading--main {
  font-family: "RobotoBold", sans-serif;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-choice__box-heading--sub {
  font-family: "RobotoThin", sans-serif;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading {
  font-family: "RobotoBold", sans-serif;
  font-size: 2rem;
}
.heading-intro {
  text-align: center;
}
.heading-menu {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
}
.heading-footer {
  font-family: "Shrikhand", cursive;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.heading-resto {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  white-space: nowrap;
}

.text-intro {
  font-family: "RobotoThin", sans-serif;
  font-size: 1.6rem;
  text-align: center;
}
.text-card {
  font-family: "RobotoThin", sans-serif;
  font-size: 1.6rem;
}
.text-list {
  font-size: 1.4rem;
  font-family: "RobotoBold", sans-serif;
}
.text-list-footer {
  font-size: 1.4rem;
  font-family: "RobotoRegular", sans-serif;
}

.icon-header {
  font-size: 1.6rem;
}
.icon-search {
  font-size: 1.6rem;
}
.icon-card {
  padding-right: 20px;
  font-size: 2rem;
}
.icon-card .fas {
  font-weight: 100;
}
.icon-card .far {
  color: #eaeaea;
}
.icon-card:hover .fas {
  transition: color 2s;
  font-weight: 900;
  color: #9356dc;
}
.icon-step {
  font-size: 1.8rem;
}
.icon-step i {
  color: #353535;
}
.icon-step .fa-store {
  color: #9356DC;
}
.icon-footer {
  padding-right: 8px;
}
.icon-footer i {
  width: 16px;
  aspect-ratio: 1;
}

.fa-check-circle {
  position: relative;
  top: 30%;
  color: white;
  font-size: 20px;
}

.btn {
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 24px;
  align-self: center;
  font-family: "RobotoRegular", sans-serif;
  font-size: 1.4rem;
}
.btn-submit:hover {
  filter: brightness(1.25);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.3);
}
.btn-submit-order {
  padding: 16px 48px;
}
.btn-submit-search {
  padding: 16px 24px;
}

.card-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
}
.card-new {
  position: absolute;
  right: 16px;
  top: 16px;
  padding: 6px 12px;
  background-color: #99E2D0;
  color: #139273;
  font-size: 1.2rem;
  font-family: "RobotoBold", sans-serif;
}
.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card-legend {
  padding: 16px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.spinner {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  animation: spin 3s linear forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.wrapper {
  opacity: 0;
  position: relative;
  animation: animatebottom 1s linear 3s forwards;
}

.wrapper-menu {
  opacity: 0;
  position: relative;
}
.wrapper-menu-01 {
  opacity: 0;
  animation: animatebottom 1s ease-out forwards;
}
.wrapper-menu-02 {
  opacity: 0;
  animation: animatebottom 1s ease-out 1s forwards;
}
.wrapper-menu-03 {
  opacity: 0;
  animation: animatebottom 1s ease-out 2s forwards;
}

body {
  /*max-width: 375px;*/
  margin: 0 auto;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding: 16px;
}

.header-logo {
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #353535;
  padding: 24px;
  gap: 16px;
}
footer * {
  color: white;
}

.list-footer {
  list-style: none;
}
.list-footer li:not(last-child) {
  padding-bottom: 8px;
}

.heading-footer {
  width: 100%;
}

.form-search {
  text-align-last: center;
  background-color: #f6f6f6;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 2px inset #eaeaea;
}
.form-menu {
  padding: 0 16px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 80px;
}

.hr {
  color: #99E2D0;
  width: 40px;
  border-bottom: 2px solid;
  padding-top: 8px;
}

.resto {
  height: 320px;
  position: relative;
  background-color: #eaeaea;
}

.img-resto {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.heading-resto {
  border-radius: 48px;
  position: absolute;
  bottom: 12px;
  padding: 32px 16px 16px 16px;
  background-color: inherit;
  width: 100%;
}

.icon-resto {
  position: absolute;
  right: 32px;
}

.bistro {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  background-color: #eaeaea;
}

.gallery {
  display: grid;
  gap: 16px;
}

.menu-choice {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-choice__box {
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 16px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}
.menu-choice__box-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.menu-choice__box-label:hover {
  cursor: pointer;
}
.menu-choice__box-heading {
  flex: 1;
  padding: 16px;
  display: grid;
  gap: 8px;
}
.menu-choice__box-price {
  padding: 16px;
  align-self: flex-end;
  flex: 0 0 auto;
}
.menu-choice__box-checkmark {
  background-color: #99E2D0;
}
.menu-choice__box-checkbox {
  position: absolute;
  top: 0;
  opacity: 0;
}

.checkmark {
  padding: 0px;
  width: 0px;
  transition: all 1s;
}

input:checked ~ .checkmark {
  padding: 16px;
  width: 50px;
  display: block;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 44px;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.list {
  list-style: none;
}
.list-step {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.list-step > * {
  position: relative;
  padding: 24px;
  background-color: white;
  border-radius: 32px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}
.list-step > :last-child {
  background-color: #f5edff;
}
.list-step li span:not(:first-of-type) {
  padding-left: 18px;
}

.number-step {
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 28%;
  left: -12px;
  padding: 6px 10px;
  border-radius: 50%;
  background-color: #9356DC;
}

/*# sourceMappingURL=style.css.map */
