// _variables.scss
// colors
$color-primary: #9356DC;
$color-primary-light: #f5edff;
$color-secondary: #FF79DA;
$color-tertiary-light: #99E2D0;
$color-tertiary-dark: #139273;
$color-grey-light-1: #f6f6f6;
$color-grey-light-2: #eaeaea;
$color-grey-dark: #353535;

