<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OhMyFood</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <a href="index.html" aria-label="Accueil"><i class="header-icon fas fa-arrow-left"></i></a>
        <img class="header-logo" src="/img/logo/ohmyfood@2x.svg" alt="Logo Oh My Food">
    </header>
    <div class="restaurant">
        <img src="/img/restaurants/restaurants_01.jpg" alt="Restaurant" class="restaurant-img">
        <h1 class="restaurant-heading">Nom du restaurants <span class="heading-icon"><i class="far fa-heart"></i></span></h1>
    </div>
    <div class="menu">
        <form class="menu-form" action="">
            <fieldset class="menu-choice">
                <legend class="menu-heading">Entrées</legend>
                <div class="menu-choice__box">
                    <label for="entree_01" class="menu-choice__box-label">
                        <span class="menu-choice__box-heading">
                            <span class="menu-choice__box-heading--main">Titres</span>
                            <span class="menu-choice__box-heading--sub">Annotations</span>
                        </span>
                        <span class="menu-choice__box-price">prix</span>
                        <span class="menu-choice__box-checkmark">croix</span>
                    </label>
                    <input class="menu-choice__box-checkbox" type="checkbox" name="entree_01" id="entree_01">
                </div>
                <div class="menu-choice__box">
                    <label for="entree_02" class="menu-choice__box-label">
                        <span class="menu-choice__box-heading">
                            <span class="menu-choice__box-heading--main">Titres</span>
                            <span class="menu-choice__box-heading--sub">Annotations</span>
                        </span>
                        <span class="menu-choice__box-price">prix</span>
                        <span class="menu-choice__box-checkmark">croix</span>
                    </label>
                    <input class="menu-choice__box-checkbox" type="checkbox" name="entree_02" id="entree_02">
                </div>
                <div class="menu-choice__box">
                    <label for="entree_03" class="menu-choice__box-label">
                        <span class="menu-choice__box-heading">
                            <span class="menu-choice__box-heading--main">Titres</span><span class="menu-choice__box-heading--sub">Annotations accompagnés de leur creme à la truffe</span>
                        </span>
                        <span class="menu-choice__box-price">prix</span>
                        <span class="menu-choice__box-checkmark">croix</span>
                    </label>
                    <input class="menu-choice__box-checkbox" type="checkbox" name="entree_03" id="entree_03">
                </div>
            </fieldset>
            <fieldset class="menu-choice">
                <legend class="menu-heading">Plats</legend>
                <div class="menu-choice__box">
                    <label for="plat_01" class="menu-choice__box-label">
                        <span class="menu-choice__box-heading">
                            <span class="menu-choice__box-heading--main">Titres</span>
                            <span class="menu-choice__box-heading--sub">Annotations</span>
                        </span>
                        <span class="menu-choice__box-price">prix</span>
                        <span class="menu-choice__box-checkmark">croix</span>
                    </label>
                    <input class="menu-choice__box-checkbox" type="checkbox" name="plat_01" id="plat_01">
                </div>
                <div class="menu-choice__box">
                    <label for="plat_02" class="menu-choice__box-label">
                        <span class="menu-choice__box-heading">
                            <span class="menu-choice__box-heading--main">Titres</span>
                            <span class="menu-choice__box-heading--sub">Annotations</span>
                        </span>
                        <span class="menu-choice__box-price">prix</span>
                        <span class="menu-choice__box-checkmark">croix</span>
                    </label>
                    <input class="menu-choice__box-checkbox" type="checkbox" name="plat_02" id="plat_02">
                </div>
                <div class="menu-choice__box">
                    <label for="plat_03" class="menu-choice__box-label">
                        <span class="menu-choice__box-heading">
                            <span class="menu-choice__box-heading--main">Titres</span>
                            <span class="menu-choice__box-heading--sub">Annotations</span>
                        </span>
                        <span class="menu-choice__box-price">prix</span>
                        <span class="menu-choice__box-checkmark">croix</span>
                    </label>
                    <input class="menu-choice__box-checkbox" type="checkbox" name="plat_03" id="plat_03">
                </div>
            </fieldset>
            <fieldset class="menu-choice">
                <legend class="menu-heading">Desserts</legend>
                <div class="menu-choice__box">
                    <label for="dessert_01" class="menu-choice__box-label">
                        <span class="menu-choice__box-heading">
                            <span class="menu-choice__box-heading--main">Titres</span>
                            <span class="menu-choice__box-heading--sub">Annotations</span>
                        </span>
                        <span class="menu-choice__box-price">prix</span>
                        <span class="menu-choice__box-checkmark">croix</span>
                    </label>
                    <input class="menu-choice__box-checkbox" type="checkbox" name="dessert_01" id="dessert_01">
                </div>
                <div class="menu-choice__box">
                    <label for="dessert_02" class="menu-choice__box-label">
                        <span class="menu-choice__box-heading">
                            <span class="menu-choice__box-heading--main">Titres</span>
                            <span class="menu-choice__box-heading--sub">Annotations</span>
                        </span>
                        <span class="menu-choice__box-price">prix</span>
                        <span class="menu-choice__box-checkmark">croix</span>
                    </label>
                    <input class="menu-choice__box-checkbox" type="checkbox" name="dessert_02" id="dessert_02">
                </div>
                <div class="menu-choice__box">
                    <label for="dessert_03" class="menu-choice__box-label">
                        <span class="menu-choice__box-heading">
                            <span class="menu-choice__box-heading--main">Titres</span>
                            <span class="menu-choice__box-heading--sub">Annotations</span>
                        </span>
                        <span class="menu-choice__box-price">prix</span>
                        <span class="menu-choice__box-checkmark">croix</span>
                    </label>
                    <input class="menu-choice__box-checkbox" type="checkbox" name="dessert_03" id="dessert_03">
                </div>
            </fieldset>
            <input type="submit" value="Commander">
        </form>
    </div>
    <footer>
        <h5>ohmyfood</h5>
        <ul>
            <li><span>icon</span> Proposer un restaurant</li>
            <li><span>icon</span> Devenir partenaire</li>
            <li>Mentions légales</li>
            <li><a href="mailto:">Contact</a></li>
        </ul>
    </footer>
</body>

</html>