<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OhMyFood</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <a href="index.html" aria-label="Accueil"><i class="header-icon fas fa-arrow-left"></i></a>
        <img class="header-logo" src="/img/logo/ohmyfood@2x.svg" alt="Logo Oh My Food">
    </header>
    <main class="resto">
        <img src="/img/restaurants/restaurants_01.jpg" alt="Restaurant" class="img img-resto">
        <h1 class="heading heading-resto">Nom du restaurants <span class="icon icon-resto"><i class="far fa-heart"></i></span></h1>
    </main>
    <form id="form-menu" class="form form-menu" action="">
        <fieldset class="menu-choice">
            <legend class="heading heading-menu">Entrées</legend>
            <hr class="hr hr-legend">
            <div class="menu-choice__box">
                <label for="entree_01" class="menu-choice__box-label">
                    <span class="menu-choice__box-heading">
                        <span class="menu-choice__box-heading--main">Titres</span>
                        <span class="menu-choice__box-heading--sub">Annotations</span>
                    </span>
                    <span class="menu-choice__box-price">prix</span>
                    <span class="menu-choice__box-checkmark"><i class="fas fa-check-circle"></i></span>
                </label>
                <input class="menu-choice__box-checkbox" type="checkbox" name="entree_01" id="entree_01">
            </div>
            <div class="menu-choice__box">
                <label for="entree_02" class="menu-choice__box-label">
                    <span class="menu-choice__box-heading">
                        <span class="menu-choice__box-heading--main">Titres</span>
                        <span class="menu-choice__box-heading--sub">Annotations</span>
                    </span>
                    <span class="menu-choice__box-price">prix</span>
                    <span class="menu-choice__box-checkmark"><i class="fas fa-check-circle"></i></span>
                </label>
                <input class="menu-choice__box-checkbox" type="checkbox" name="entree_02" id="entree_02">
            </div>
            <div class="menu-choice__box">
                <label for="entree_03" class="menu-choice__box-label">
                    <span class="menu-choice__box-heading">
                        <span class="menu-choice__box-heading--main">Titres</span><span
                            class="menu-choice__box-heading--sub">Annotations accompagnés de leur creme à la
                            truffe</span>
                    </span>
                    <span class="menu-choice__box-price">prix</span>
                    <span class="menu-choice__box-checkmark"><i class="fas fa-check-circle"></i></span>
                </label>
                <input class="menu-choice__box-checkbox" type="checkbox" name="entree_03" id="entree_03">
            </div>
        </fieldset>
        <fieldset class="menu-choice">
            <legend class="heading heading-menu">Plats</legend>
            <hr class="hr hr-legend">
            <div class="menu-choice__box">
                <label for="plat_01" class="menu-choice__box-label">
                    <span class="menu-choice__box-heading">
                        <span class="menu-choice__box-heading--main">Titres</span>
                        <span class="menu-choice__box-heading--sub">Annotations</span>
                    </span>
                    <span class="menu-choice__box-price">prix</span>
                    <span class="menu-choice__box-checkmark"><i class="fas fa-check-circle"></i></span>
                </label>
                <input class="menu-choice__box-checkbox" type="checkbox" name="plat_01" id="plat_01">
            </div>
            <div class="menu-choice__box">
                <label for="plat_02" class="menu-choice__box-label">
                    <span class="menu-choice__box-heading">
                        <span class="menu-choice__box-heading--main">Titres</span>
                        <span class="menu-choice__box-heading--sub">Annotations</span>
                    </span>
                    <span class="menu-choice__box-price">prix</span>
                    <span class="menu-choice__box-checkmark"><i class="fas fa-check-circle"></i></span>
                </label>
                <input class="menu-choice__box-checkbox" type="checkbox" name="plat_02" id="plat_02">
            </div>
            <div class="menu-choice__box">
                <label for="plat_03" class="menu-choice__box-label">
                    <span class="menu-choice__box-heading">
                        <span class="menu-choice__box-heading--main">Titres</span>
                        <span class="menu-choice__box-heading--sub">Annotations</span>
                    </span>
                    <span class="menu-choice__box-price">prix</span>
                    <span class="menu-choice__box-checkmark"><i class="fas fa-check-circle"></i></span>
                </label>
                <input class="menu-choice__box-checkbox" type="checkbox" name="plat_03" id="plat_03">
            </div>
        </fieldset>
        <fieldset class="menu-choice">
            <legend class="heading heading-menu">Desserts</legend>
            <hr class="hr hr-legend">
            <div class="menu-choice__box">
                <label for="dessert_01" class="menu-choice__box-label">
                    <span class="menu-choice__box-heading">
                        <span class="menu-choice__box-heading--main">Titres</span>
                        <span class="menu-choice__box-heading--sub">Annotations</span>
                    </span>
                    <span class="menu-choice__box-price">prix</span>
                    <span class="menu-choice__box-checkmark"><i class="fas fa-check-circle"></i></span>
                </label>
                <input class="menu-choice__box-checkbox" type="checkbox" name="dessert_01" id="dessert_01">
            </div>
            <div class="menu-choice__box">
                <label for="dessert_02" class="menu-choice__box-label">
                    <span class="menu-choice__box-heading">
                        <span class="menu-choice__box-heading--main">Titres</span>
                        <span class="menu-choice__box-heading--sub">Annotations</span>
                    </span>
                    <span class="menu-choice__box-price">prix</span>
                    <span class="menu-choice__box-checkmark"><i class="fas fa-check-circle"></i></span>
                </label>
                <input class="menu-choice__box-checkbox" type="checkbox" name="dessert_02" id="dessert_02">
            </div>
            <div class="menu-choice__box">
                <label for="dessert_03" class="menu-choice__box-label">
                    <span class="menu-choice__box-heading">
                        <span class="menu-choice__box-heading--main">Titres</span>
                        <span class="menu-choice__box-heading--sub">Annotations</span>
                    </span>
                    <span class="menu-choice__box-price">prix</span>
                    <span class="menu-choice__box-checkmark"><i class="fas fa-check-circle"></i></span>
                </label>
                <input class="menu-choice__box-checkbox" type="checkbox" name="dessert_03" id="dessert_03">
            </div>
        </fieldset>
        <input class="btn btn-submit btn-submit-order" type="submit" value="Commander">
    </form>

    <footer>
        <h5 class="heading heading-footer">ohmyfood</h5>
        <ul class="footer-list">
            <li><span class="icon icon-footer"><i class="fas fa-utensils"></i></span> Proposer un restaurant</li>
            <li><span class="icon icon-footer"><i class="fas fa-hands-helping"></i></span> Devenir partenaire</li>
            <li>Mentions légales</li>
            <li><a href="mailto:">Contact</a></li>
        </ul>
    </footer>
</body>

</html>