// _menu.scss

.menu-choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    &__box {
        position: relative;
        overflow: hidden;
        background-color: white;
        border-radius: 16px;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
        &-label {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
        }
        &-label:hover {
            cursor: pointer;
        }
        &-heading {
            flex: 1;
            padding: 16px;
            display: grid;
            gap: 8px;
        }
        &-price {
            padding: 16px;
            align-self: flex-end;
            flex: 0 0 auto;
        }
        &-checkmark {
            background-color: $color-tertiary-light;
        }
        &-checkbox {
            position: absolute;
            top: 0;
            opacity: 0;
        }
    }
}
.checkmark {
    padding: 0px;
    width: 0px;
    transition: all 1s;
}
input:checked ~ .checkmark {
    padding: 16px;
    width: 50px;
    display: block;
}