// _restaurant.scss
.restaurant {
    height: 320px;
    position: relative;
    background-color: $color-grey-light-2;
}
.restaurant-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}
.restaurant-heading {
    border-radius: 48px;
    position: absolute;
    bottom: 12px;
    padding: 32px 16px 16px 16px;
    background-color: inherit;
    width: 100%;
}
.heading-icon {
    position: absolute;
    right: 32px;
}