// _restaurant.scss
.restaurant {
    height: 320px;
    position: relative;
}
.restaurant-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}
.restaurant-heading {
    border: white 2px solid;
    border-radius: 48px;
    position: absolute;
    bottom: 12px;
    padding: 32px 16px 16px 16px;
    background-color: white;
    width: 100%;
}
.heading-icon {
    position: absolute;
    right: 32px;
}